	
.news-feed
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&__item
		width: 225px;
		height: 300px;
		text-align: center;
		cursor: pointer;
		
	&__title
		color: #4198d2;
		font-size: 20px;