
.menu-steps
	font-size: 11px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90px;

	
	&__menu-item
		text-align: left;
		color: #A7A7A7;
		margin-left: -25px;

	


