@font-face
	font-family: 'HelveticaNeue-Light';
	src: url('helveticaneue-light.eot');
	src: url('helveticaneue-light.eot') format('embedded-opentype'),
    	 url('helveticaneue-light.woff') format('woff'),
    	 url('helveticaneue-light.ttf') format('truetype'),
         url('helveticaneue-light.svg#HelveticaNeue-Light') format('svg');
	font-weight: normal;
	font-style: normal;


.page
	
	overflow: visible;
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeue-Light';
	display: flex;
	flex-direction: column;
	min-height: 100vh;

