mobile-break-point = 768px


.logo__icon
	background: url(logo.png) no-repeat;
	background-size: contain;
	width: 25px;
	float: left;
	height: 24px;
	
	@media screen and (min-width: mobile-break-point)
		height: 33px;
		width: 30px;