
.menu-contacts
	font-size: 11px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90px;

	
	&__menu-item
		text-align: left;
		color: #A7A7A7;
		
	&__menu-item_type_location
		padding-left: 20px;
		background: url('location_contacts.png') no-repeat;
		background-size: contain;
		
	& a
		color: #4198d2;
		text-decoration: none;
		transition: 0.2s;
		
	
	& a:hover
		opacity: 0.7;

	


